body {
  background-color: #1E90FF;
}

.logo {
  height: 35px;
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

main {
  background-color: white;
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: lighter;
  color: dimgrey;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 12px;
}

input {
  width: 290px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
}

.email, .password {
  display: block;
}

button {
  display: block;
  width: 320px;
  height: 55px;
  background-color: #3CB371;
  border: 2px solid #3CB371;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  padding: 15px;
}
