body {
  background-color: #1E90FF;
}

.logo {
  height: 35px;
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

main {
  background-color: white;
  width: 400px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  text-align: center;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: lighter;
  color: dimgrey;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-bottom: 12px;
  padding-left: 38px;
  text-align: left;
}

input {
  width: 290px;
  border: 2px solid lightgrey;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 16px;
}

.email, .password {
  display: block;
}

button {
  display: block;
  width: 320px;
  height: 55px;
  background-color: #15CD72;
  border: 2px solid #15CD72;
  border-radius: 3px;
  color: white;
  font-size: 20px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.forgot-password {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: grey;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.log-in {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 8px;
}

a .log-in-link {
  color: white;
}
